$primary-color: #023243;
$secondary-color: white;
$layout-background-color: $primary-color;
$background-color: #f0f0f0;
$danger-color: #d84112;
$warning-color: #d8c412;
$success-color: #058B32;
$button-background-color: white;
$content-background-color: white;

$card-light: #fff;
$card-color: #1e7a46;
$modal-color: #b3d3b4;
$text-color: #003c0d;
$active-color: #3c5b3b;
$events-box-color: $primary-color;
$events-card-color: #094d66;

$primary-text-color: white;
$border-color: white;
$login-color: #b3d3b4;
$input-color: gray;
$button-color: #3c5b3b;
$stopwatch-wrapper-color: #d9d9d9;
$box-shadow-color: rgba(0, 0, 0, 0.25);
